//- Also update blender_fund_main/templates/email/membership_activated.txt
| {% extends "email_layout.html" %}
| {% block body %}
p Dear {{ customer.full_name|default:user.email }},

p Your Blender Fund membership was activated! Thanks for your support.

p You can always go to #[a(href='{{ link }}') {{ link }}] to view and update your membership.
| {% endblock %}
