//- Also update blender_fund_main/templates/email/payment_paid.txt
| {% extends "email_layout.html" %}
| {% block body %}
p Dear {{ customer.full_name|default:email }},

p.
	Automatic payment of your Blender Development Fund membership ({{ order.price.with_currency_symbol }})
	was succesful. Thank you for your contribution!

p.
	You will find the online receipt at #[a(href="{{ receipt_url }}") {{ receipt_url }}]
| {% endblock %}
