<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Krita | Digital Painting. Creative Freedom.</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="fund.krita.org">
    <meta name="keywords" content="Krita, drawing, painting, concept, art, fund">
    <meta name="author" content="Krita Foundation">
    <link href="https://krita.org/wp-content/themes/krita-org-theme/images/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon">
    <link href="https://krita.org/wp-content/themes/krita-org-theme/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://krita.org/wp-content/themes/krita-org-theme/css/bootstrap-theme.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://krita.org/wp-content/themes/krita-org-theme/style.css?v=190902-01">
    <link href="https://fonts.googleapis.com/css?family=Chewy" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Quattrocento+Sans:400,400italic,700" rel="stylesheet" type="text/css">
    <link rel="stylesheet" id="wp-block-library-css" href="https://krita.org/wp-includes/css/dist/block-library/style.min.css?ver=5.2.3" type="text/css" media="all">
    <link rel="stylesheet" id="simple-share-buttons-adder-indie-css" href="//fonts.googleapis.com/css?family=Indie+Flower&amp;ver=5.2.3" type="text/css" media="all"><link rel="stylesheet" id="simple-share-buttons-adder-font-awesome-css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css?ver=5.2.3" type="text/css" media="all"><link rel="stylesheet" id="heateor-sc-frontend-css-css" href="https://krita.org/wp-content/plugins/heateor-social-comments/css/front.css?ver=1.4.16" type="text/css" media="all"> <script id="st_insights_js" src="https://ws.sharethis.com/button/st_insights.js?publisher=4d48b7c5-0ae3-43d4-bfbe-3ff8c17a8ae6&amp;product=simpleshare"></script> <script src="https://krita.org/wp-includes/js/jquery/jquery.js?ver=1.12.4-wp"></script> <script src="https://krita.org/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.4.1"></script> <link rel="https://api.w.org/" href="https://krita.org/wp-json/"><link rel="EditURI" type="application/rsd+xml" title="RSD" href="https://krita.org/xmlrpc.php?rsd"><link rel="wlwmanifest" type="application/wlwmanifest+xml" href="https://krita.org/wp-includes/wlwmanifest.xml"><meta name="generator" content="WordPress 5.2.3"><link rel="canonical" href="https://krita.org/en/"><link rel="shortlink" href="https://krita.org/"><link rel="alternate" type="application/json+oembed" href="https://krita.org/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fkrita.org%2Fen%2F"><link rel="alternate" type="text/xml+oembed" href="https://krita.org/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fkrita.org%2Fen%2F&amp;format=xml"><style>.sfs-subscriber-count, .sfs-count, .sfs-count span, .sfs-stats { -webkit-box-sizing: initial; -moz-box-sizing: initial; box-sizing: initial; }
  .sfs-subscriber-count { width: 88px; overflow: hidden; height: 26px; color: #424242; font: 9px Verdana, Geneva, sans-serif; letter-spacing: 1px; }
  .sfs-count { width: 86px; height: 17px; line-height: 17px; margin: 0 auto; background: #ccc; border: 1px solid #909090; border-top-color: #fff; border-left-color: #fff; }
  .sfs-count span { display: inline-block; height: 11px; line-height: 12px; margin: 2px 1px 2px 2px; padding: 0 2px 0 3px; background: #e4e4e4; border: 1px solid #a2a2a2; border-bottom-color: #fff; border-right-color: #fff; }
  .sfs-stats { font-size: 6px; line-height: 6px; margin: 1px 0 0 1px; word-spacing: 2px; text-align: center; text-transform: uppercase; }</style><link rel="alternate" href="https://krita.org/en/" hreflang="en"><link rel="alternate" href="https://krita.org/jp/" hreflang="ja"><link rel="alternate" href="https://krita.org/es/" hreflang="es"><link rel="alternate" href="https://krita.org/ko/" hreflang="ko"><link rel="alternate" href="https://krita.org/zh/" hreflang="zh"><link rel="alternate" href="https://krita.org/fr/" hreflang="fr"><link rel="alternate" href="https://krita.org/" hreflang="x-default">
    {% load static %}
    <script src="{% static 'js/vendor/js.cookie.js' %}"></script>
    {% block head %}{% endblock %}
</head>
  <noscript>
    <style type="text/css">
      .js-fades {opacity: 1 !important; visibility: visible !important}
    </style>
  </noscript>
</head>
<body class="page-devfund {{ page_id }}">{% block body %}
    <div id="isolated"></div>
    <div class="notice-wrapper">
        {% if messages %}
        {% for message in messages %}
        <div class="show notice error notice-error"><span class="notice-message">{{ message }}</span></div>{% endfor %}
        {% endif %}
    </div>
    <div class="container">
        <a name="hop"></a>
            {% block navigation_header %}
            {% include "_navbar.html" %}
            {% endblock navigation_header %}
            {% block page_header %}
            <div class="featured nav-hidden">
                <div class="container">
                    <div class="featured-content">
                        <h1>Krita Development Fund</h1>
                    </div>
                </div>
                <div class="featured-overlay" style="background-image: none; background-color: #0a0a0a;opacity: 0.3;"></div>
            </div>
            {% block nav_secondary %}
            {% include "blender_fund/_navbar_secondary.html" %}
            {% endblock nav_secondary %}
            {% block navbar_tertiary %}{% endblock navbar_tertiary %}
            {% endblock page_header %}
            {% block content %}{% endblock content %}
    </div>{% block footer %}
    {% include "_footer.html" %}
    {% endblock footer %}
    {% endblock body %}
    {% block footer_scripts %}{% endblock footer_scripts %}
</body>
