doctype html
html.blender-notes
	head
	body
		h3 Blender Fund Notes
		| {% for note in notes %}
		.note
			| {% if perms.blender_notes.delete_note %}
			form.delete(action="{% url 'notes:delete-note' app_label=app_label model_name=model_name object_id=object_id note_id=note.pk %}", method="POST")
				| {% csrf_token %}
				input(type='submit', value='×', title='Delete this note. This is irreversable.')
			| {% endif %}
			p {{ note.note}}
			p.author {{ note.creator }} on {{ note.created|date:"D d-m-Y" }}
				| &nbsp;{{ note.created|time:"H:i" }}

		| {% endfor %}
		| {% if perms.blender_notes.add_note %}
		form(action="{{ request.get_full_path }}", method="POST")
			| {% csrf_token %}
			| {{ form }}
			.submit-row
				input(type='submit', value='Add a New Note')
		p.help.
			This notes system is separate from the rest of the form. Edit &amp; save
			one at the time, or you'll loose stuff.
		| {% endif %}
