| {% extends "blender_fund/empty_page.html" %}

| {% block head %}
style.
	.notes {
		margin-top: 4em;
		margin-left: auto;
		margin-right: auto;
		width: 30em;
		color: #ddd;
		font-size: smaller;
	}

	.mention, pre {
		max-width: 60ex;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 4mm;

		border: thin solid white;
		border-radius: 1mm;
		padding: 3mm;
		color: white;
	}
	.mention {
		background-color: #000030;
	}
	pre {
		background-color: transparent;
		text-align: left;
	}
| {% endblock %}

| {% block content %}
.checkout-yay-bg.py-5.checkout-container

	.container.text-center.py-5

		h1.thanks Thank you {{ user.customer.full_name }}! #[i.fa.fa-heart.text-danger.pl-3]
		.lead.pt-4 You are now a #[strong {{ order.subscription.plan }}] member of the Blender Development Fund

		p.
			Your membership will be activated as soon as we have handled your bank transfer.

		.mention
			p.
				When paying, mention the following with your bank transfer:

			p
				strong Blender Fund Membership subs-{{ order.subscription.id }}

		p Please send your payment to:

		//- If you change this, don't forget to update the notification email files
		//- as well: membership_bankinfo.{txt,pug}.
		p
			pre.
				Stichting Blender Foundation
				Buikslotermeerplein 161
				1025 ET Amsterdam, the Netherlands

				Bank: ING Bank
				Bijlmerdreef 109
				1102 BW Amsterdam, the Netherlands

				BIC/Swift code: INGB NL 2A
				IBAN: NL45 INGB 0009356121 (for Euro countries)

				Tax number NL 8111.66.223

		p This information is also sent to you by email.

		| {% with membership=order.subscription.membership %}

		p Continue to #[a(href="{% url 'settings_membership_edit' membership_id=membership.id %}") Your Membership].

		| {% if membership.level.bid_badge_name %}
		.notes
			p.
				Once your membership is activated, you can view your badge in your #[a(href="{{ settings.BLENDER_ID.BASE_URL }}") Blender ID Profile].
				For your badge to show up on other websites may take some time (less than a day), and may require you to log in at that site again.
		| {% endif %}
		| {% endwith %}

| {% endblock %}
