| {% extends "blender_fund/empty_page.html" %}
| {% load looper %}
| {% block content %}
.checkout-container
	section.checkout
		header
			a.text-muted(href="/")
				| #[i.fa.fa-angle-left.pr-3] Blender Development Fund

			section.plan-info.d-flex.align-items-center
				h2.my-0.pt-4 {{ plan.description }}
		hr

		p Choose how to subscribe to {{ plan.name }} {{ plan.product.name }}:

		ul
			| {% for planvar in object_list %}
			li
				a(class="{% if planvar.pk == current_plan_variation.pk %}current{% endif %}",
					href="{% url 'looper:checkout' plan_id=plan.id plan_variation_id=planvar.id %}") {{ planvar|pricing }}
				| {% if planvar.pk == current_plan_variation.pk %} (currently selected){% endif %}
			| {% empty %}
			// - TODO(fsiddi): Provide link to return to previous page
			p Sorry, no variation is availale in your currency.
			| {% endfor %}

		hr.mt-5
		p
			| {% if preferred_currency == 'EUR' %}
			a(href="javascript:set_preferred_currency('USD');") Switch to $
			| {% else %}
			a(href="javascript:set_preferred_currency('EUR');") Switch to €
			| {% endif %}
| {% endblock %}
