//- This template can be used instead of blender_fund/layout.html to remove
//- all the headers and footers. CSS and JS are still loaded as normal.
| {% extends "blender_fund/layout.html" %}

| {% block page_header %}{% endblock page_header %}
| {% block navigation_header %}{% endblock navigation_header %}
| {% block footer %}{% endblock footer %}
