| {% extends "settings/membership_base.html" %}
| {% block after_membership_info %}
h2 Cancellation

p Are you sure you want to cancel your Blender Development Fund membership?

| {% if subscription.status == 'active' and subscription.next_payment_in_future %}
p.
	Your membership will remain active until {{ subscription.next_payment|date }}, since you have
	paid for your membership until then.
| {% endif %}

form.form(method='post')
	| {% csrf_token %}
	| {{ form.as_ul }}

	hr

	a.btn(href="{% url 'settings_membership_edit' membership_id=membership.id %}")
		span ← Keep Membership and Go Back

	button#submit-button.btn-danger.form-submit(type='submit')
		span Confirm Cancellation of Membership

| {% endblock after_membership_info %}
