| {% extends "settings/base.html" %}

| {% block content_settings %}
| {{ block.super }}

h2.mt-2.text-secondary Replace Payment Method

p.
	Here you can change your payment method. Anything using
	#[strong {{ paymeth.recognisable_name }}] will switch over to whatever payment method
	you select here.
p.
	You can use this for switching future automatic payments, as well as payments that failed
	and are currently being retried; we try a few times before giving up.

p.
	Previously you used #[strong {{ paymeth.recognisable_name }}] to pay in
	#[strong {{ currency }}], so you can only replace it with payment methods that are compatible
	with that currency.


.m-3
	form#payment-method-change-form.form(method='post')
		| {% csrf_token %}

		section.checkout-form-fields.pt-3
			ul.form
				| {{ form.as_ul }}
			#gateway-errors
		hr

		.d-flex.align-items-center.pt-3
			a.pl-3(href="{% url 'looper:payment_methods' %}")
				| Cancel

			button#change_payment_method_button.ml-auto.btn-success.form-submit.px-5.mt-3(type='submit')
				i.fa.fa-check
				| Replace Payment method

| {% endblock content_settings %}

| {% block footer_scripts%}
script(src='https://js.braintreegateway.com/web/dropin/1.13.0/js/dropin.min.js')
script.
	let client_token = '{{ client_token }}';
	$("div[data-gateway-name='braintree']").braintree_gateway_group(
		'#change_payment_method_button', '#gateway-errors',
		'#id_payment_method_nonce', client_token);

| {% endblock footer_scripts%}
