| {% extends "pdf_layout.html" %}
| {% block title %}Blender Development Fund Receipt \#{{ order.id }}{% endblock %}

| {% block main_content %}
table(style='width: 40em')
	tr
		td(colspan="2")
			h4 Blender Development Fund Receipt
	tr
		th Receipt ID
		td {{ order.id }}
	tr
		th Payment received on
		td {{ order.paid_at|default:order.created_at }}
	tr
		th Membership level
		td {{ order.subscription.plan.name }}

	tr
		td(colspan="2")
			h4 Billing Address
	tr
		th Address
		td {{ order.billing_address|linebreaksbr }}
	tr
		th E-mail
		td {{ order.email }}

	tr
		td(colspan="2")
			h4 Payment Information
	tr
		th Amount paid
		td {{ order.price.with_currency_symbol_nonocents }}
		| {% with refunded=order.total_refunded %}
		| {% if refunded %}
	tr
		th Amount refunded
		td {{ refunded.with_currency_symbol_nonocents }}
		| {% endif %}
		| {% endwith %}
	tr
		th Payment method
		td {{ order.payment_method.recognisable_name }}
	| {% if order.payment_method.method_type == 'ba' %}
	tr
		th Bank details
		td.
			Bank: ING Bank, P/O Box 1800, Amsterdam, the Netherlands#[br]
			BIC/Swift code: INGB NL 2A (international code)#[br]
			IBAN: NL45 INGB 0009356121 (for euro accounts)#[br]
			Account #: 93 56 121
	| {% endif %}

| {% endblock %}
